{% extends 'base.html.twig' %}

{% block title %}New Prd{% endblock %}

{% block body %}
    <h1>Create new Prd</h1>

    {{ include('prd/_form.html.twig') }}

    <a href="{{ path('app_prd_index') }}">back to list</a>
{% endblock %}
